In [64]:
import pandas as pd
import numpy as np

In [65]:
df = pd.read_csv("D:\Project\Job-Market-Intelligence\data\\raw\data_jobs_cleaned.csv")

In [66]:
df.head(5)

,job_title_short,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_year_avg,company_name,job_skills,job_type_skills
0,Data Scientist,"San José Province, San José, Costa Rica",ai-jobs.net,Full-time,False,Costa Rica,2023-08-01 13:37:57,False,False,Costa Rica,109500.0,Netskope,"['gdpr', 'excel']","{'analyst_tools': ['excel'], 'libraries': ['gd..."
1,Data Engineer,"Arlington, VA",linkedin,Full-time,False,Sudan,2023-06-26 14:22:54,False,False,Sudan,140000.0,Intelletec,"['mongodb', 'mongodb', 'python', 'r', 'sql', '...","{'analyst_tools': ['tableau'], 'cloud': ['orac..."
2,Data Engineer,Anywhere,linkedin,Full-time,True,"Illinois, United States",2023-02-21 13:29:59,False,True,United States,120000.0,Apex Systems,"['sql', 'python']","{'programming': ['sql', 'python']}"
3,Data Scientist,"Mountain View, CA",linkedin,Full-time,False,"California, United States",2023-07-31 13:01:18,False,True,United States,228222.0,TikTok,"['sql', 'r', 'python', 'express']","{'programming': ['sql', 'r', 'python'], 'webfr..."
4,Data Analyst,Anywhere,get.it,Full-time,True,"Illinois, United States",2023-10-12 13:02:19,False,True,United States,89000.0,Get It Recruit - Transportation,"['python', 'r', 'alteryx', 'tableau']","{'analyst_tools': ['alteryx', 'tableau'], 'pro..."

In [67]:
df = df.drop(columns=["job_via",  "search_location"])
df = df.rename(columns={
    "job_title_short": "job_role",
    "job_country": "country",
    "job_work_from_home": "is_remote",
    "job_schedule_type": "schedule_type",
    "job_no_degree_mention": "no_degree_required",
    "job_health_insurance": "health_insurance",
    "job_posted_date": "posted_date"
})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19908 entries, 0 to 19907
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   job_role            19908 non-null  object
 1   job_location        19908 non-null  object
 2   schedule_type       19908 non-null  object
 3   is_remote           19908 non-null  bool
 4   posted_date         19908 non-null  object
 5   no_degree_required  19908 non-null  bool
 6   health_insurance    19908 non-null  bool
 7   country             19908 non-null  object
 8   salary_year_avg     19908 non-null  float64
 9   company_name        19908 non-null  object
 10  job_skills          19908 non-null  object
 11  job_type_skills     19908 non-null  object
dtypes: bool(3), float64(1), object(8)
memory usage: 1.4+ MB

In [68]:
other_data_roles = [
    "Data Engineer",
    "Senior Data Engineer",
    "Lead Data Engineer",
    "Data Scientist",
    "Senior Data Scientist",
    "Lead Data Scientist"
]

In [69]:
final_columns = [
    "job_role",
    "country",
    "is_remote",
    "schedule_type",
    "posted_date",
    "salary_year_avg",
    "no_degree_required",
    "health_insurance",
    "python",
    "sql",
    "aws",
    "spark",
    "r",
    "azure",
    "tableau",
    "java",
    "snowflake",
    "hadoop",
    "power bi",
    "job_skills_clean"
]

In [70]:
df["posted_date"] = pd.to_datetime(df["posted_date"])
df["posted_date"] = df["posted_date"].dt.date

In [71]:
df.head()

,job_role,job_location,schedule_type,is_remote,posted_date,no_degree_required,health_insurance,country,salary_year_avg,company_name,job_skills,job_type_skills
0,Data Scientist,"San José Province, San José, Costa Rica",Full-time,False,2023-08-01,False,False,Costa Rica,109500.0,Netskope,"['gdpr', 'excel']","{'analyst_tools': ['excel'], 'libraries': ['gd..."
1,Data Engineer,"Arlington, VA",Full-time,False,2023-06-26,False,False,Sudan,140000.0,Intelletec,"['mongodb', 'mongodb', 'python', 'r', 'sql', '...","{'analyst_tools': ['tableau'], 'cloud': ['orac..."
2,Data Engineer,Anywhere,Full-time,True,2023-02-21,False,True,United States,120000.0,Apex Systems,"['sql', 'python']","{'programming': ['sql', 'python']}"
3,Data Scientist,"Mountain View, CA",Full-time,False,2023-07-31,False,True,United States,228222.0,TikTok,"['sql', 'r', 'python', 'express']","{'programming': ['sql', 'r', 'python'], 'webfr..."
4,Data Analyst,Anywhere,Full-time,True,2023-10-12,False,True,United States,89000.0,Get It Recruit - Transportation,"['python', 'r', 'alteryx', 'tableau']","{'analyst_tools': ['alteryx', 'tableau'], 'pro..."

In [72]:
import ast

# Parse job_skills from string to list
df["job_skills_parsed"] = df["job_skills"].apply(
    lambda x: ast.literal_eval(x) if isinstance(x, str) else []
)

# Normalize skills (lowercase, stripped)
df["job_skills_clean"] = df["job_skills_parsed"].apply(
    lambda skills: [s.strip().lower() for s in skills]
)

# Define core skills
core_skills = [
    "python",
    "sql",
    "aws",
    "spark",
    "r",
    "azure",
    "tableau",
    "java",
    "snowflake",
    "hadoop",
    "power bi"]

# Create binary skill columns
for skill in core_skills:
    df[skill] = df["job_skills_clean"].apply(
        lambda skills: 1 if skill in skills else 0
    )

df_other_data_roles = df[
    df["job_role"].isin([
        "Data Scientist",
        "Senior Data Scientist",
        "Lead Data Scientist",
        "Senior Data Engineer",
        "Data Engineer",
        "Lead Data Engineer"
    ])
][final_columns].copy()

In [73]:
df_other_data_roles.shape

df_other_data_roles["job_role"].value_counts()

job_role
Data Scientist           5214
Data Engineer            4318
Senior Data Scientist    1551
Senior Data Engineer     1540
Name: count, dtype: int64

In [74]:
df_other_data_roles_save = df_other_data_roles.copy()

df_other_data_roles_save.to_csv("D:\Project\Job-Market-Intelligence\data/processed\other_data_roles_final.csv", index=False)

In [75]:
df = pd.read_csv("D:\Project\Job-Market-Intelligence\data\processed\other_data_roles_final.csv")


import ast

df['job_skills_clean'] = df['job_skills_clean'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else [])

df_exploded = df.explode('job_skills_clean')

print(df_exploded['job_skills_clean'].value_counts().head(20))

job_skills_clean
python        9671
sql           8343
aws           4182
r             3569
spark         3538
azure         2846
tableau       2369
java          2329
snowflake     1994
hadoop        1956
sas           1750
scala         1736
kafka         1474
nosql         1469
redshift      1331
databricks    1298
airflow       1290
git           1164
power bi      1110
excel         1057
Name: count, dtype: int64